.BtonSB{

    position: absolute;
    width: 2rem;
    height: 2.8rem;
    top: 1.1rem;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    border: solid 1px black;
    border-left: none;
    cursor: pointer;
    z-index: 3;
    display: none;
}
