.childconteinsearch{
    min-height: 6rem;
    width: 100%;
    overflow: hidden;
    border: solid black;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.childconteinsearch:hover img{
    scale: .9;
    height: 99%;
    border-radius: .3rem;
    transition: all .3s ease-in-out;

}
.childconteinsearch img{
    width: 6rem;
}
.childconteinsearch div{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .5rem 0 .5rem 0;
}