.childcontein-left{
    width: 44%;
    height: 100%;
    padding-top: .1px;
    border: solid black  1px;
    border-radius: .4rem;
    list-style: none; flex-direction: column;
    padding: .5rem;
    overflow-y: scroll;
    display: flex;
    gap: 1rem;
    h4{
        height: 1.5rem;
        position: sticky;
        z-index: 2;
        border: black solid 1px;
        background-color: orange;
        color: aliceblue;
        padding:.1rem;
        border-radius: .3rem;
        font-size: calc(.9rem - .1px);
        left: 1rem;
        
    }
    

}
.childcontein-right{
    
    width: 56%;
    height: 100%;
    border: solid black  1px;
    list-style: none;
    padding: .5rem;
    overflow: hidden;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    h4{
        position:sticky;
        z-index: 2;
        border: black solid 1px;
        background-color: orange;
        color: aliceblue;
        padding:.1rem;
        border-radius: .3rem;
        font-size: calc(1rem - .3px);
        left: 1rem;
    }
}