.onEpisode{
    width: 97%;
    padding: 1rem;
    margin: 0 auto;

}
.onRecent{
    width: 97%;
    height: 88vh;
    overflow: hidden;
    padding-bottom: .5rem;
    margin: 0 auto;
    border: solid 2px rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: .3rem;
    border-radius: .4rem;
}

.offEpisode{
    display: none;
}
.offRecent{
    display: none;
}

